# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Source folder
src

# Example folder
example

# Mocks folder
__mocks__

# Coverage folder
coverage

# Mac files
.DS_Store
