<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Redux React Session Example</title>
  </head>
  <body>
    <div id="app"><%- markup -%></div>
    <script>
      window.__PRELOADED_STATE__ = <%- preloadedState -%>
    </script>
    <script src="bundle.js"></script>
  </body>
</html>
